<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Beacons</display-name>
	<servlet>
		<servlet-name>BeaconServlet</servlet-name>
		<servlet-class>com.beacon.servlet.BeaconServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>BeaconServlet</servlet-name>
		<url-pattern>/beaconSuccess</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BeaconDetailServlet</servlet-name>
		<servlet-class>com.beacon.servlet.BeaconDetailServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>BeaconDetailServlet</servlet-name>
		<url-pattern>/beaconDetail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRegisterServlet</servlet-name>
		<servlet-class>com.beacon.servlet.UserRegisterServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegisterServlet</servlet-name>
		<url-pattern>/userRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserLoginServlet</servlet-name>
		<servlet-class>com.beacon.servlet.UserLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserLogoutServlet</servlet-name>
		<servlet-class>com.beacon.servlet.UserLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProfileServlet</servlet-name>
		<servlet-class>com.beacon.servlet.ProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>com.beacon.servlet.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EstomiteLoginServlet</servlet-name>
		<servlet-class>com.beacon.servlet.EstomiteLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EstomiteLoginServlet</servlet-name>
		<url-pattern>/estimote</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GoogleapikeyServlet</servlet-name>
		<servlet-class>com.beacon.servlet.GoogleapikeyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleapikeyServlet</servlet-name>
		<url-pattern>/googleapi</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LocationApiServlet</servlet-name>
		<servlet-class>com.beacon.servlet.LocationApiServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LocationApiServlet</servlet-name>
		<url-pattern>/locationap</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddBeacon</servlet-name>
		<servlet-class>com.beacon.servlet.AddBeacon</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddBeacon</servlet-name>
		<url-pattern>/addBeacon</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<servlet-class>com.beacon.servlet.ChangePasswordServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<url-pattern>/changepassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListBeacon</servlet-name>
		<servlet-class>com.beacon.servlet.ListBeacon</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListBeacon</servlet-name>
		<url-pattern>/googleapilist</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OneBeacon</servlet-name>
		<servlet-class>com.beacon.servlet.OneBeacon</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>OneBeacon</servlet-name>
		<url-pattern>/oneBeacon</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Notification</servlet-name>
		<servlet-class>com.beacon.servlet.NotificationServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Notification</servlet-name>
		<url-pattern>/notification</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AttachmentsListServlet</servlet-name>
		<servlet-class>com.beacon.servlet.AttachmentsListServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttachmentsListServlet</servlet-name>
		<url-pattern>/attachmentsList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddAttachment</servlet-name>
		<servlet-class>com.beacon.servlet.AddAttachment</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAttachment</servlet-name>
		<url-pattern>/addAttachments</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteAttachment</servlet-name>
		<servlet-class>com.beacon.servlet.DeleteAttachment</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAttachment</servlet-name>
		<url-pattern>/deleteAttachment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateBeacon</servlet-name>
		<servlet-class>com.beacon.servlet.UpdateBeacon</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateBeacon</servlet-name>
		<url-pattern>/updateBeacon</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteBeacon</servlet-name>
		<servlet-class>com.beacon.servlet.DeleteBeacon</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteBeacon</servlet-name>
		<url-pattern>/deleteBeacon</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetForObserved</servlet-name>
		<servlet-class>com.beacon.servlet.GetForObserved</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetForObserved</servlet-name>
		<url-pattern>/getforobserved</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Telemetry</servlet-name>
		<servlet-class>com.beacon.servlet.Telemetry</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Telemetry</servlet-name>
		<url-pattern>/telemetry</url-pattern>
	</servlet-mapping>
</web-app>